
:root{
    --header-height:50px;
    --hue-color:352;
    --fist-color:hsl(var(--hue-color), 69%, 61%);
    --fist-color-second:hsl(var(--hue-color), 69%, 61%);
    --fist-color-alt:hsl(var(--hue-color), 57%, 53%);
    --fist-color-lighter:hsl(var(--hue-color), 92%, 85%);
    --title-color:hsl(var(--hue-color), 8%, 15%);
    --text-color:hsl(var(--hue-color), 8%, 45%);
    --text-color-light:hsl(var(--hue-color), 8%, 65%);
    --input-color:hsl(var(--hue-color), 70%, 96%);
    --body-color:hsl(var(--hue-color), 60%, 99%);
    --container-color:white;
    /* font familly  */
    --body-font:'Poppins', sans-serif;
    
    --big-font-size:2rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1.125rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;
    /* font weight  */
    --font-medium:500;
    --font-semi-bold:600;
    /* margin bottom */
    --mb-0-25:.25rem;
    --mb-0-5:0.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;
    /* z-index */
    --z-tooltip:10;
    --z-fixed:100;
    --z-modal:1000;
    /* transistion  */
    --transition:all .5s ease;
}
body.darkModethem{
    --hue-color:230;
    --fist-color-second:hsl(var(--hue-color), 30%, 8%);
    --title-color:hsl(var(--hue-color), 8%, 95%);
    --text-color:hsl(var(--hue-color), 8%, 75%);
    --input-color:hsl(var(--hue-color), 29%, 16%);
    --body-color:hsl(var(--hue-color),28%, 12%);
    --container-color:hsl(var(--hue-color),29%, 16%);
}
/* font size for larger devices  */
@media screen and (min-width:968){
    :root{
    --big-font-size:3rem;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:.875rem;
    --smaller-font-size:.813rem;
    }
}
/* base  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
::selection{
    background-color: var(--fist-color);
    color: white;
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
} 
p::first-letter{
    text-transform: capitalize;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.main{
    position: relative;
}

.section{
    padding: 2rem 0 4rem;
}
.section__title{
    font-size: var(--h1-font-size);
}

.cap{
    text-transform: capitalize;
}
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    text-transform: capitalize;
}
.section__title,
.section__subtitle{
    text-align: center;
}
/* layout */
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    position: relative;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
/* header  */
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: -1px 1px 5px #00000040;
    padding: 5px 0;
}
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo,
.nav__toggle{
color: var(--title-color);
font-weight: var(--font-medium);
transition: var(--transition);
font-size: 34px;
font-weight: 600;
font-family: 'GreatVibes';
}
.nav__logo span{
    color: var(--fist-color);
}
.nav__toggle:hover,
.nav__logo:hover{
    color: var(--fist-color);
}
.nav__btns{
    display: flex;
    align-items: center;
}
.dark__mode-controler{
    border: 1px solid var(--fist-color);
    width: 57px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.dark__mode-icon{
    color: gold;
    font-size: 23px !important;
    padding: 1px 0;
    cursor: pointer;
}
.dark__mode-layer{
    background: var(--fist-color);
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    border-radius: 50%;
    z-index: -1;
    transition: all .6s cubic-bezier(0.68, -0.55, 0.256, 1.55);
}
.nav__toggle{
    cursor: pointer;
    font-size: 30px !important;
    margin-left: 10px;
}
@media screen and (max-width:767px){
    .nav__menu{
    position: fixed;
    bottom:-100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px hsl(6, 93%, 71%);
    color: hsl(15, 72%, 70%);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: var(--transition);
    }
    
}
.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: 600;
    cursor: pointer;
}
.nav__link.active{
    color: var(--fist-color);
}
.nav__link:hover{
    color: var(--fist-color);
}
.nav__icon{
    font-size: 1.2rem !important;
}
.nav__close{
    position: absolute;
    right: 1.3em;
    bottom: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--fist-color);
}
.nav__close:hover{
    color: var(--fist-color-alt);
}
/* !header  */
/* home */
.home__container{
    gap: 1rem;
}
.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}
.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.social__icon{
font-size: 1.25rem;
color: var(--fist-color);
}
.social__icon:hover{
    color: var(--fist-color-alt);
}
.home__blob{
    width: 200px;
    fill: var(--fist-color);
}
.home__blob-img{
    width: 170px;
}
.home-data{
    grid-column: 1/3;
}
.home__title{
    text-transform: capitalize;
    font-size: var(--big-font-size);
    margin-bottom: 7px;
    width: max-content;
}
.home__title .name{
    font-family: 'GreatVibes';
    color: var(--fist-color);
}
.home__title .name .diff{
    color: var(--title-color);
}
.home__subtitle{
    text-transform: capitalize;
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.home__description{
    margin-bottom: var(--mb-2);
}
.home__description::first-letter{
    text-transform: capitalize;
}
.home__scroll{
display: none;
}
.home__scroll-btn{
    color: var(--fist-color);
    transition: var(--transition);
}
.home__scroll-btn:hover{
    transform: translateY(.25rem);
}
.scroll__mouse{
    font-size: 2rem !important;
}
.home__scroll-name{
    font-size: var(--small-font-size);
    font-weight:var(--font-medium);
    margin-right: var(--mb-0-25);
}
.scroll__arrow{
    font-size: 1.25rem;
}
.button{
    display: inline-block;
    background-color: var(--fist-color);
    color: white;
    padding: 12px;
    border-radius: .5rem;
    border: 1px solid var(--fist-color);
    border-bottom-width:2px ;
    cursor: pointer;
    transition:.3s;
    text-transform: capitalize;
}
.button:hover{
background-color: transparent;
color: var(--fist-color-alt);
}
.button:hover .button__icon{
    transform: translateX(5px);
}
.button__icon{
    font-size: 1.25rem;
    margin-left: 10px;
    transition: .3s;
}
.button--flex{
    display: inline-flex;
    align-items: center;
}
.button--white{
    background-color: white;
    color: var(--fist-color);
}
.button--white:hover{
border-color: white;
color: white;
}
/* !home */
/* !about */
.about__img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}
.about__desc{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}
.about__info{
display: flex;
justify-content: space-evenly;
margin-bottom: var(--mb-2-5);
cursor: default;
}
.info-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.info-name{
    font-size: var(--smaller-font-size);
}
.info-name,
.info-title{
    display: block;
    text-align: center;
}
.about__buttons{
    display: flex;
    justify-content: center;
}
/* !about */
/* skills */
.skills__container{
    row-gap: 0;
}
.skill__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}
.skill__icon,
.skill__arrow{
    font-size: 2rem !important;
    color: var(--fist-color);
}
.skill__icon{
    margin-right: var(--mb-0-75);
}
.skill__title{
    font-size: var(--h3-font-size);
}
.skill__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.skill__arrow{
    margin-left: auto;
    transform: rotate(0);
    transition: var(--transition) !important;
}
.skill__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
    transition: var(--transition);
}
.skill__titles{
    display: flex;
    justify-content: space-between;
}
.skill__name{
   font-size: var(--normal-font-size);
   font-weight: var(--font-medium); 
}
.skill__bar,
.skill__porcentage{
    height: 5px;
    border-radius: .25rem;
}
.skill__bar{
    background-color: var(--fist-color-lighter);
}
.skill__porcentage{
    display: block;
    background-color: var(--fist-color);
}
.html{
    width: 90%;
}
.css{
    width: 80%;
}
.javascript{
    width: 80%;
}
.react{
    width: 60%;
}
.node{
    width: 45%;
}
.express{
    width: 45%;
}
.mongo{
    width: 45%;
}
.php{
    width: 40%;
}
.skill__close .skill__list{
height: 0;
overflow: hidden;
}
.skill__open .skill__list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}
.skill__open .skill__arrow{
    transform: rotate(-180deg);
}

/* !skills */
/* qualification */
.quali__tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-2);
    border: 1px solid var(--fist-color);
    padding: 5px 0;
    width: 75%;
    justify-self: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.quali__layer{
    position: absolute;
    left: 0;
    width: 50%;
    background-color: var(--fist-color);
    top: 0;
    height: 100%;
    transition: all .6s cubic-bezier(0.68, -0.55, 0.256, 1.55);
    border-radius: 8px;
}
.quali__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: .3s;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quali__button:hover{
    color: var(--fist-color);
}
.quali__icon{
    font-size: 1.8rem !important;
    margin-right: 10px;
}
.quali__data{
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    display: none;
    text-align: center;
}
.quali__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-25);
}
.quali__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.quali__calender{
    font-size: var(--small-font-size) !important;
    color: var(--text-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calender_icon{
    font-size: 20px !important;
    margin-right: 10px;
}
.quali__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--fist-color);
    border-radius: 50%;
}
.quali__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--fist-color);
    transform: translate(6px, -7px);
}
#education:checked ~ .quali__container .quali__sections .education .quali__data{
    display: grid; 

}

#work:checked ~ .quali__container .quali__sections .work .quali__data{
    display: grid; 

}
#work:checked ~ .quali__container  .quali__tabs .quali__layer{
    left: 50%;
}
#work:checked ~ .quali__container  .quali__tabs .quali__button.work{
    color: white;
}
#education:checked ~ .quali__container  .quali__tabs .quali__button.education{
    color: white;
}

/* !qualification */
/* services */
.services__container{
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}
.services__content{
    position: relative;
    background-color: var(--container-color);
    padding: 20px;
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: .3s;
}
.services__content:hover{
    box-shadow: 0px 4px 8px  rgba(0, 0, 0, 0.15);
}
.services__header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services__icon{
    display: block;
    font-size: 27px !important;
    color: var(--fist-color);
    margin-bottom: 10px;
}
.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: 10px;
    font-weight: var(--font-medium);
    text-align: center;
}
.services__button{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}
.services__button .button__icon{
    transition: .5s;
    transform: translateX(0);
}
.services__button:hover .button__icon{
    transform: translateX(.25rem);
}
.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.services__modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 8px;
    transform: scale(.8);
    transition: var(--transition);
}
.modal-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.services__modal-services{
    row-gap: 1rem;
}
.services__modal-service{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.services__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.services__modal-close{
    color: var(--fist-color);
    cursor: pointer;
}
.services__modal-icon{
    color: var(--fist-color);
    margin-right: 10px;
    font-size: 20px !important;
}
/* !services */
/* portfolio */
.portfolio__container{
    overflow: initial;
    position: relative;
}
.btns{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.carousel__controler{
    background: var(--fist-color);
    border-radius: 50%;
    /* height: 40px;
    width: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--transition);
    z-index: 10;
    pointer-events: none;
}
.carousel.carousel-slider .control-arrow{
    padding: 15px;
}
.testimonial__container:hover .carousel__controler,
.portfolio__container:hover .carousel__controler{
    opacity: 1;
}
.carousel__controler-icon{
    font-size: 35px !important;
    color: white;
}
.portfolio__content{
     padding: 0 20px;
    padding-bottom: 40px;
}
.portfolio__img-container{
    width: calc(100% - 100px) !important;
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 10px;
    height: 200px;
    position: relative;

}
.portfolio__img-container:hover .portfolio__img{
transform: translateY(calc(-100% + 200px));
}

.portfolio__img {
   width: 100% !important;
    justify-self: center;
    position: absolute;
    object-fit: cover;
    object-position: top;
    top: 0;
    left: 0;
    transition: all 4s linear;
}

.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: 10px;
}
.portfolio__desc{
margin-bottom: 10px;
}
.carousel .carousel-status {
    display: none;
}
.carousel.carousel-slider .control-arrow:hover{
    background-color: transparent;
}
.carousel .control-next.control-arrow:before{
    border-left: none;
}
.carousel .control-prev.control-arrow:before{
    border-right: none;
}
.carousel .control-dots .dot {
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px black;
    background: black;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
}
.carousel .thumbs-wrapper{
    margin: 0;
}
.carousel .thumbs{
    display: none;
}
/* !portfolio */
/* project */
.project{
    text-align: center;
}
.project__bg{
    background-color: var(--fist-color);
    padding: 30px;
}
.project__title{
    font-size: var(--h2-font-size);
    margin-bottom: 12px;
}
.project__desc{
    margin-bottom: 15px;

}
.project__title,
.project__desc{
    color: white;
}
.project__img{
    width: 232px;
    justify-self: center;
}
/* !project */
/* testimonial */
.testimonial__data,
.testimonial__header{
display: flex;
}
.testimonial__data{
    justify-content: space-between;
    margin-bottom: 16px;
}
.testimonial__img{
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}
.testimonial__name{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.testimonial__client{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.testimonial__desc{
    margin-bottom: 40px;
    text-align: center;
}
.testimonial__icon-star{
    color: gold;
}
.testimonial .carousel .slide{
    text-align: left;
}
.testimonial__content{
    padding: 0 40px;
}

/* !testimonial */
/* contact */
.contact__container{
    row-gap: 3rem;
}
.contact__information{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.contact__icon{
    font-size: 2rem !important;
    color: var(--fist-color);
    margin-right: 12px;
}
.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}
.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.contact__inputs,
.contact__form{
    row-gap: 16px !important;
}

.contact__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}
.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: 1px solid transparent;
    outline: none;
    padding: 0px 0.5rem 0 0;
    height: 45px;
    padding: 5px;
    border-radius: 8px;
}
.contact__textarea{
    resize: none;
}
.successMsg{
    margin-left: 20px;
    font-size: 18px;
    color: var(--title-color);
}
.errorMsg{
    color: crimson;
    margin-top: 5px; 
    font-size: 14px;
    transform: translateX(20px);
    opacity: 0;
    pointer-events: none;
    display: none;
    transition: .3s;
    padding-left: 5px;
}
.contact__input:invalid[focused="true"]{
    border-color: crimson;
}
.contact__input:invalid[focused="true"] + .errorMsg{
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    display: block;
}

.errorMsg::first-letter{
    text-transform: capitalize;
}
/* !contact */
/* footer  */
.footer{
    padding-top: 32px;
}
.footer,
.footer a{
    color: white !important;
}
.footer__container{
    row-gap: 20px;
}
.footer__bg{
    background-color: var(--fist-color-second);
    padding: 20px 0 20px;
}
.footer__title{
    font-size: var(--h1-font-size);
    font-family: 'GreatVibes';
    color: var(--fist-color-alt);
    text-transform: none;
    text-shadow: 1px 1px 1px black;
}
.footer__title::first-letter{
    text-transform: capitalize;
}
.footer__title span{
    color: var(--title-color);
}
.footer__subtitle{
    font-size: var(--small-font-size);
}
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.footer__link{
    color: var(--container-color) !important;
    transition: var(--transition);
}
.footer__link:hover{
    color: var(--fist-color-lighter) !important;
    font-weight: bold;
}
.footer__social{
    margin-right: 20px;
}
.footer__social:hover{
    color: var(--fist-color-lighter) !important;
}
.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    margin-top: 20px;
    color: var(--text-color-light);
}
/* !footer  */
/* scrollUp */
.scrollUp{
    position: fixed;
    right: -100%;
    bottom: calc(var(--header-height) + 16px);
    background-color: var(--fist-color);
    z-index: var(--z-tooltip);
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    padding: 0 5px;
    transition: all .6s cubic-bezier(0.68, -0.55, 0.256, 1.55);
}
.scrollUp.show{
    right: 16px;
}
.scrollUp:hover{
    background-color: var(--fist-color-alt);
}
.scrollUp__icon{
font-size: 27px !important;
color: var(--container-color);
}
/* !scrollUp */
/* responsivity */
/* small devices */
@media (max-width:350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
    }
    .home__blob{
        width: 180px;
    }
    .skill__title{
        font-size: var(--normal-font-size);
    }
    .quali__data{
        gap: .5rem;
    }
    
    .quali__icon {
        font-size: 1.5rem !important;
        margin-right: 5px;
    }
    .services__modal-content{
        padding: 20px;
    }
    
    .carousel__controler-icon{
        font-size: 25px !important;
    }
    .project__img{
        width: 200px !important;
    }
    
    .testimonial__img{
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }
}
@media (max-width:410px){
    .quali__button{
        font-size: var(--small-font-size);
    }
   
    .testimonial__data,
    .testimonial__header{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
/* !small devices */
/* medium devices */
@media (max-width:568px){
    .portfolio__img-container{
        width: 100% !important;
    }
}
@media (min-width:568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home-data {
        grid-column: initial;
    }
    .home__img{
        order: 1;
        justify-self: center;
    }
    .footer__container,
   .project__container,
    .skills__container,
    .about__container,
    .contact__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .about__desc{
        text-align: left;
    }
    .portfolio__content{
        display: flex;
        column-gap: 30px;
    }
    /* .slide .portfolio__img{
        width: 250px !important;
    } 
     */
    
}
/*! medium devices */
/* large devices */
@media (min-width:768px){
    :root{
        --header-height:40px !important;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
        position: relative;
    }
    
    .header{
        top: 0;
        bottom: initial;
    }
    .header{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none !important;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width: 270px;
    }
    .home-data{
        margin-bottom: 40px;
    }
    .home__scroll{
        display: block;
    }
    .home__scroll-btn{
        margin-left: 3rem;
    }
    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__desc{
    text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__buttons{
        justify-content: initial;
    }
    .services__container{
        grid-template-columns: repeat(3,218px);
        justify-content: center;
        display: grid;
    }
    .services__icon{
        font-size: 32px !important;
    }
    /* .slide .portfolio__img{
        width: 320px !important;
    } */
    .portfolio__content{
        align-items: center;
    }
    .footer__container{
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
    display: flex;
    }
    .footer__bg{
        padding: 3rem 0;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 15px;
        width: max-content;
    }
   
}
/* !large devices */
@media (min-width:1024px){
    .header,
    .main,
    .footer__container{
        padding: 0;
    }
    .home__blob{
        width: 320px;
    }
    .home__social{
        transform: translateX(-6rem);
    }
    .contact__form{
        width: 460px;
    }
    .contact__inputs{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* !responsivity */